body {
    background-color: rgb(224, 224, 224);
}

label {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 3px;
}

text, input {
    width: 98%;
}

table {
    width: 100%;
    text-align: right;

    & td:nth-child(1) {
        width: 45%;
    }
}

button {
    background-color: #008CBA;
    margin-top:10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

table table {
    border-collapse: collapse;
    border: 0;
}

table table td {
    border-collapse: collapse;
    border: 0;
    text-align: left;
    &input {
        width: 10px;
    }
}

.nested_table {
    & td:nth-child(1) {
        padding: 0 2px;
        width: 10px;
    }
}

.wait {cursor: wait;}
.default {cursor: default;}
button:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
